body{
    background-color: rgb(10, 10, 51);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./image/download.jpeg) ;
    width: 100%;
}
.header{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% , -50%);
    border: 3px solid black;
    box-shadow:0 0 10px aqua;

}
.header h1{
    font-size: 11em;
    text-transform: uppercase;
    color: skyblue;
   text-shadow:8px 8px 10px aqua;
   font-style: italic;
}
h2{
    font-size: 8em;
    text-transform: uppercase;
/* margin-top: 50px; */
color:skyblue;

}
.header h1:hover{
    margin-top: 3px;
}